<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル追加</h3>
      <div class="col">
        <%= render 'form', genre: @genre %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3>ジャンル一覧</h3>
      <%= render 'index', genres: @genres %>
    </div>
  </div>
</div>