<div class="container">
  <div class="mb3">
    <h3>ジャンル一覧</h3>
    <table class="genre_info has_border">
      <thead>
        <tr>
          <th>ジャンル名</th>
          <th></th>
          </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to genre.name, admin_items_path(genre_id: genre.id), class: "underline" %></td>
            <td class="text-right"><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>