<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>タスク追加</h3>
      <%= render 'new', task: @task %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h3>タスク一覧</h3>
      <%= render 'index', tasks: @tasks %>
    </div>
  </div>
</div>